
/* when page initially loads, in the html file it comes across.coast-hidden
class and displays it. When it goes down to the .coast-showing class it doesn't
display it because we have a css rule of display:none in effect.

in our scripts file we have a jQuery function where when we click on the <p>
element, .coast-hidden */

h1{
  text-align: center;
}

.green-background{
  background-color: lightgreen;
}

.yellow-background{
  background-color: yellow;
}

.red-background{
  background-color: #BB0000;
}

#initially-hidden{
  display: none;
}

#initially-hidden img{
  max-width: 25%;
}

.clickable{
  cursor: pointer;
  color: #0088cc
}

.clickable:hover {
  text-decoration: underline;
}

.expand{
  cursor: pointer;
  color: #0088cc
}

.expand:hover {
  text-decoration: underline;
}

.collapse{
  cursor: pointer;
  color:#0088cc
}

.collapse:hover{
  text-decoration: underline;
}

.expanded-text{
  display: none;
}

.collapsed-text{
  display: none;
}
